<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} / {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://assets/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
    {% endblock head %}

    {% block stylesheets %}
        {% do assets.addCss('theme://css/styles.css', 100) %}
    {% endblock %}

    {% block javascripts %}
        {% do assets.addJsModule('theme://js/main.js', 100) %}
    {% endblock %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}
</head>

<body template="{{ page.template|raw }}" name="{{ page.title|raw }}">

    {% block body %}
        <div class="content{{ page.header.classes|e }}">
        {% block content %}{% endblock %}
        </div>
    {% endblock %}

    <div class="space-lg"></div>

    {% block main_navigation %}
        {% if (browser.platform|e == "android" or browser.platform|e == "iphone") %}
            <nav id="main" class="mobile collapsed">
        {% else %}
            <nav id="main">
        {% endif %}

        {%  include 'partials/navigation.html.twig' %}
    </nav>
    {% endblock %}

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block bottom %}
        {{ assets.js('bottom')|raw }}
    {% endblock %}

</body>

</html>
