{% set subtitle = page.header.subtitle|defined(false) %}
{% set linkTarget = page.header.link|e|defined(page.url|e) %}

<div class="feed-item">
{% block feed_item %}

  {% include 'partials/feed_title_image.html.twig' with { 'page' : page } %}

  <h2>
    {% if linkTarget != false %}
      <a href="{{ linkTarget }}" target=_blank"">{{ page.title|raw }}</a>
    {% else %}
      {{ page.title|raw }}
    {% endif %}
  </h2>

  {% if subtitle %}
    <span class="subtitle">{{ subtitle }}</span>
  {% endif %}

  <div class="info">
    {% if page.header.date %} <span class="info-date">{{ page.header.date|e }}</span> {% endif %}
    {% if page.header.author %} <span class="info-author">{{ page.header.author|e }}</span> {% endif %}           {# TODO: multiple authors #}
  </div>

  {% set teaser_text = page.header.teaser|defined( page.header.description|defined(false) ) %}
  {% if teaser_text %}
    <div class="teaser"> {{ teaser_text|e }} </div>
  {% endif %}
  
  {% if linkTarget != false %}
  <a class="btn slim more" role="button" aria-label="read article" href="{{ linkTarget }}" target="_blank">
    <span>read more</span>
  </a>
  {% endif %}

{% endblock %}
</div>
