{% set subtitle = page.header.subtitle|defined(false) %}

<div class="feed-item">
{% block feed_item %}

  {% include 'partials/feed_title_image.html.twig' with { 'page' : page } %}

  <h2><a href="{{ page.url|e }}">{{ page.title }}</a></h2>
  {% if subtitle %}
    <span class="subtitle">{{ subtitle }}</span>
  {% endif %}

  <div class="info">
    {% if page.header.date %} <span class="info-date">{{ page.header.date|e }}</span> {% endif %}
    {% if page.header.author %} <span class="info-author">{{ page.header.author|e }}</span> {% endif %}           {# TODO: multiple authors #}
  </div>

  {% set teaser_text = page.header.teaser|defined( page.header.description|defined(false) ) %}
  {% if teaser_text %}
    <div class="teaser"> {{ teaser_text|e }} </div>
  {% endif %}
  
  <a class="btn slim more" role="button" aria-label="read article" href="{{ page.url|e }}" target="__blank">
    <span>read more</span>
  </a>

{% endblock %}
</div>