<div class="nav-list">
    {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'current' : '' %}
        {# <div class="nav-item {{ current_page|e }}"> #}
            <a class="button nav-item {{ current_page|e }}" href="{{ page.url|e }}" style="--n: {{loop.index}}">
                {# {% if page.header.icon %}<i class="fa fa-{{ page.header.icon|e }}"></i>{% endif %} #}
                <span class="text">{{ page.menu|e }}</span>
            </a>
        {# </div> #}
    {% endfor %}
</div>

<button name="collapse-main-nav" aria-label="collapse main nav" class="collapser"></button>

{# {% endif %} #}

{# {% for mitem in site.menu %}
    <li>
        <a href="{{ mitem.url|e }}">
            {% if mitem.icon %}<i class="fa fa-{{ mitem.icon|e }}"></i>{% endif %}
            {{ mitem.text|e }}
        </a>
    </li>
{% endfor %} #}